{% extends 'base.html' %}

{% block content %}

<div class="column">
    <div class="block">
        <h1 class="title">{{ profile.user.username|upper }}'s chits</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="buttons has-addons">
        {% if profile in user.profile.follows.all %}
            <button class="button is-success is-static">Follow</button>
            <button class="button is-danger" name="follow" value="unfollow">
                Unfollow
            </button>
        {% elif profile == user.profile %}
        {% else %}
            <button class="button is-success" name="follow" value="follow">
                Follow
            </button>
            <button class="button is-danger is-static">Unfollow</button>
        {% endif %}
        </div>
    </form>
    <div class="content mt-5">
        {% for tweet in profile.user.tweets.all %}
            <div class="box">
                {{ tweet.body|slice:":20" }}
                <span class="is-small has-text-grey-light">
                    ({{ tweet.created_at }})
                </span>
            </div>
        {% endfor %}
    </div>
</div>


<div class="column is-one-third">


    <a href="{% url 'profile_list' %}">
        <button class="button is-fullwidth mb-4" type="submit">All tweets</button></a>
    <a href="{% url 'profile' user.profile.pk %}">
        <button class="button is-fullwidth mb-4" type="submit">My tweets</button></a>
    <a href="{% url 'user_follows_list' %}">
        <button class="button is-fullwidth mb-4" type="submit">My follows</button></a>

{% if user != profile.user %}
    <h3 class="title is-4">
        {{ profile.user.username }} follows:
    </h3>
    <div class="content">
        <ul>
            {% for follows in profile.follows.all|slice:":4" %}
                <li>
                    <a href="{{ follows.get_absolute_url }}">
                        {{ follows }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>


    <h3 class="title is-4">
        {{ profile.user.username }} is followed by:
    </h3>
    <div class="content">
        <ul>
            {% for follows in profile.followed_by.all|slice:":4" %}
                <li>
                    <a href="{{ follows.get_absolute_url }}">
                        {{ follows }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}

<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button is-fullwidth has-background-info-light mt-5" type="submit">Tweet</button>
    </form>

{% endif %}
</div>


{% endblock content %}