{% extends 'base.html' %}

{% block content %}

<div class="row">
<div class="col">

<div class="column">
  My follows:
{% for p in profiles.follows.all %}
    <div class="card my-2">
      <a href="{{ p.get_absolute_url }}">
        <div class="media-content">
          <div class="media">
            <div class="media-left my-auto">
              <figure class="image is-96x96">
                <img class="is-rounded" src="{{ p.user.image.url }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content has-text-weight-light subtitle is-4 is-active my-auto">
              {{p.user.username}}
            </div>
          </div>
        </div>
    </div>
  </a>
{% endfor %}
</div>

</div>
<div class="col">

<div class="column">
  My followers:
  {% for p in profiles.followed_by.all %}
    <div class="card my-2">
      <a href="{{ p.get_absolute_url }}">
        <div class="media-content">
          <div class="media">
            <div class="media-left my-auto">
              <figure class="image is-96x96">
                <img class="is-rounded" src="{{ p.user.image.url }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content has-text-weight-light subtitle is-4 is-active my-auto">
              {{p.user.username}}
            </div>
          </div>
        </div>
    </div>
  </a>
{% endfor %}
</div>

</div>
</div>
{% comment %} {% include 'snipets/sidebar.html' %} {% endcomment %}

{% endblock content %}