
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
    <title>Dwitter</title>
</head>
<body>
    <section class="hero is-small has-background-info-light mb-6">
        <!-- Hero head: will stick at the top -->
        <div class="hero-body my-1">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item">
                  <h1 class="is-size-1">Home</h1>
                </a>
                <span class="navbar-burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href="{% url 'dashboard' %}">
                    Home
                  </a>
                  {% if user.is_authenticated %}
                  <a class="navbar-item" href="{% url 'index' %}">
                    Chat
                  </a>
                  <p class="subtitle is-size-6 my-auto ml-3">
                    {{ user.username }}
                  </p>
                  <!-- <span class="navbar-item"> -->
                      <div class="block" >
                      <figure class="image is-96x96">
                    <a class="#">
                            <img class="is-rounded" style="margin-top: 10px; margin-left: 10px;" src="{{ user.image.url }}">
                        </a>
                    </figure>
                </div>
                  <!-- </span> -->
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>
        </div>
    </section>

    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">

                {% for f in user.profile.friends.all %}
                <div class="block" name="user2_id" value="{{ f.profile.user.pk }}">
                    <div class="card">
                        <a href="{% url 'create_room' f.pk %}">
                          <div class="media">
                            <div class="media-left">
                              <figure class="image is-96x96">
                                <img src="{{ f.user.image.url }}"
                                alt="Placeholder image">
                              </figure>
                            </div>
                            <div class="card-content">
                            <div class="media-content">
                              <p class="title is-4">
                                {{ f.user.username }}
                              </p>
                              <p class="subtitle is-6">
                                {{ f.user.email }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    

</body>
</html>